<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ============ PERMISOS ============ -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Para Android 11+: declarar con qué apps externas queremos hablar -->
    <queries>
        <!-- Para lanzar el marcador con tel: -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application
        android:label="Taller de Intents"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- ✅ ESTE ES EL QUE PERMITE ABRIR LA APP DESDE EL HOME -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- 🔽 DE AQUÍ EN ADELANTE VAN LOS FILTROS DEL TALLER -->

            <!-- FILTRO 1: Recibir TEXTO plano -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>

            <!-- FILTRO 2: Recibir UNA imagen -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>

            <!-- FILTRO 3: Recibir VARIAS imágenes (lo usa la galería) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>

        </activity>

        <!-- Requerido por Flutter, no borrar -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Consultar si hay cámara disponible (sin esto image_picker se queja) -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

</manifest>